.version.a_universidade /* version checker */
{
	color: #0000EA;
	background-color: #AD83B6;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 543.7249999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 11px 16.27500000000009px;
}

#menuu1602
{
	z-index: 3;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1624
{
	width: 69px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1625
{
	width: 69px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u1625:hover
{
	background-color: #DD3061;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u1628-4
{
	width: 69px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1625:hover #u1628-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u1625.MuseMenuActive #u1628-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u1603
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u1604
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u1607-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1604:hover #u1607-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1617
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u1620
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u1621-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1604.MuseMenuActive #u1607-4,#u1620:hover #u1621-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1610
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u1613
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u1614-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1620.MuseMenuActive #u1621-4,#u1613:hover #u1614-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1631
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u1632
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u1604:hover,#u1620:hover,#u1613:hover,#u1632:hover
{
	background-color: #DD3061;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u1634-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1613.MuseMenuActive #u1614-4,#u1632:hover #u1634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1632.MuseMenuActive #u1634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2664
{
	z-index: 36;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1639
{
	z-index: 37;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1639:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1640-4
{
	z-index: 38;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	color: #FAFFE6;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 39px;
}

#u1601
{
	z-index: 2;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: #5165AD url("../../images/facebook.png") no-repeat center center;
}

#u1638
{
	z-index: 34;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: #3FB6EA url("../../images/twitter.png") no-repeat center center;
}

#u1601:hover,#u1638:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 119px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu2664,#pu1655
{
	width: 0.01px;
	margin-top: 4px;
}

#u1655
{
	z-index: 35;
	width: 115px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1656-4
{
	z-index: 42;
	width: 75px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#u1657
{
	z-index: 46;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u1658-4
{
	z-index: 47;
	width: 59px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 35px;
}

#u1659
{
	z-index: 51;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u1660-4
{
	z-index: 52;
	width: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 45px;
}

#u1661
{
	z-index: 56;
	width: 357px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 4px;
	position: relative;
}

#pu2541-4
{
	width: 0.01px;
	margin-left: 103px;
	margin-top: 13px;
}

#u2541-4
{
	z-index: 61;
	width: 35px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2542-4
{
	z-index: 65;
	width: 42px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2543-4
{
	z-index: 69;
	width: 59px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2540-4
{
	z-index: 57;
	width: 265px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

